<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Camera Viewer{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <script>
    // eslint-disable-next-line no-unused-vars, no-undef
    var streaming = {{ streaming | tojson | safe }};
    </script>
    <div class="frame">
        <h1>Camera Viewer</h1>
        <iframe id="webcam-iframe" src="{{ ('http://' + request.host + ':8889/broadcast?muted=1&controls=1') if streaming else ('http://' + request.host + ':8889/webcam?muted=1&controls=1') }}" style="width:100%;height:360px;border:none;"></iframe>
    </div>
    {% endblock %}
</body>
</html>
